html{
    background-color: #4CAF50;
}
@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-once {
  animation: spinOnce 1s ease-in-out;
}
